<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <% include ../partials/headAfterLogin %>

    <style>


    </style>

  </head>

  <body>

    <h3>Tanggal Sekarang</h3>

    <form action="/menu/search" method="post">

    <input id="date" type="date" name="tanggal" value="2017-06-01">

      <input type="submit" value="Search">

    </form>


  </body>
</html>
