<!DOCTYPE html>
<html>
  <head>
    <title>lakukan pembelian tiket online</title>
  </head>
  <body>
    <form method="post">
      <h2> Tanggal Keberangkatan: <%= listDataTicket.flightSchedule %></h2>
      <h2> Nama Pesawat         : <%= listDataTicket.namaPesawat %></h2>
      <h2> Harga                : <%= listDataTicket.namaPesawat %></h2>
      <h2> Jumlah               : 1 </h2>
      <input type="submit" value="Submit">
  </body>
</html>
